<!-- <div class="container card card-3 mt-3 alert-primary">
    <div style="padding: 4%;">
        <div class="container-left right-back">
            <div class="content rounded-circle" style="padding: 10%;margin-top: 25%;">
                <p>𝓦𝓮𝓵𝓬𝓸𝓶𝓮 𝓽𝓸</p>
                <p>𝓲𝓡𝓲𝓽𝓮</p>
                <small>𝓦𝓱𝓮𝓻𝓮 𝓼𝓱𝓸𝓻𝓽 𝓼𝓽𝓸𝓻𝓲𝓮𝓼 <br> 𝔂𝓸𝓾 𝓵𝓸𝓿𝓮𝓭
                    𝓵𝓲𝓿𝓮𝓭.</small>
            </div>
        </div>
        <div class="right">
            <form class="form pt-3 pb-5" #loginForm="ngForm" (ngSubmit)=login(loginForm.value) autocomplete="off">
                <div class="icon-header">
                    <span>-----</span><i class="fa fa-user"></i><span>-----</span>
                </div>
                <p class="sign">Sign In</p>
                <div class="">
                    <div class="input-group">
                        <input type="text" class="input--style-3" ngModel placeholder="Username or Email"
                            name="username" required autocomplete='off'>
                    </div>
                    <div class="input-group">
                        <input type="password" class="input--style-3" ngModel placeholder="Password" name="password"
                            required autocomplete='off'>
                    </div>
                    <button type="submit" name="submit" class="btn btn-secondary">LOGIN</button>
                    <p style="color: black;font-size: small;" class="text-center mt-3">Not Registered? <a style="color: blue;cursor: pointer;"href="register" >Create Account</a> </p>
                </div>
            </form>
        </div>
    </div>
</div> -->

<section class="w3l-forms-23" style="background-image: url('../../../../assets/images/userBack.jpg');">
    <div class="forms23-block-hny">
        <div class="wrapper">

            <h1>User Login</h1>

            <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
            </div>

            <div class="d-grid forms23-grids">
                <div class="form23">
                    <div class="main-bg" style="background-image: url('../../../../assets/images/userFront.jpg');">
                        <h6 class="sec-one">Welcome to iRite</h6>
                        <div class="speci-login first-look">
                            <i class="fa fa-user mt-1" style="font-size: xx-large;"></i>
                        </div>
                    </div>
                    <div class="bottom-content">
                        <form #loginForm="ngForm" (ngSubmit)=login(loginForm.value) autocomplete="off">
                            <div class="md-form mt-3">
                                <input type="text" id="email" name="email" class="form-control" mdbInput ngModel>
                                <label for="email">Email</label>
                            </div>
                            <div class="md-form mt-3">
                                <input type="password" id="password" name="password" class="form-control" mdbInput
                                    ngModel>
                                <label for="password">Password</label>
                                <mdb-error class="alert-danger mt-2" [hidden]="!error" style="width: 100%;">
                                    Account didn't exist!
                                </mdb-error>
                            </div>
                            <button mdbBtn type="submit" [disabled]="!icon" class="rounded" gradient="aqua" mdbWavesEffect>
                                <i class="fa fa-sign-in" [hidden]="!icon"></i>
                                <span class="spinner-border spinner-border-sm text-secondary" role="status"
                                    aria-hidden="true" [hidden]="icon"></span>
                                {{button}}</button>
                            <p style="color: black;font-size: small;" class="text-center mt-3">Not Registered? <a
                                    style="color: blue;cursor: pointer;" href="register">Create Account</a> </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
