<div class="container card card-3 mt-3 alert-primary">
    <div style="padding: 4%;">
        <div class="container-left right-back">
            <div class="content rounded-circle" style="padding: 10%;margin-top: 25%;">
                <p>𝓦𝓮𝓵𝓬𝓸𝓶𝓮 𝓽𝓸</p>
                <p>𝓲𝓡𝓲𝓽𝓮</p>
                <small>𝓦𝓱𝓮𝓻𝓮 𝓼𝓱𝓸𝓻𝓽 𝓼𝓽𝓸𝓻𝓲𝓮𝓼 <br> 𝔂𝓸𝓾 𝓵𝓸𝓿𝓮𝓭
                    𝓵𝓲𝓿𝓮𝓭.</small>
            </div>
        </div>
        <div class="right">
            <form class="form pt-3 pb-5" #registerForm="ngForm" (ngSubmit)=register(registerForm.value)
                autocomplete="off">
                <div class="icon-header">
                    <span>-----</span><i class="fa fa-user"></i><span>-----</span>
                </div>
                <p style="text-align: center;">Sign Up</p>
                <div class="row mb-4">


                    <div class="md-form input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon"  id="inputGroupMaterial-sizing-sm">Username:</span>
                        </div>
                        <input type="text" class="form-control" name="username" ngModel aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                      </div>
                      <div class="md-form input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-sm">Birthday:</span>
                        </div>
                        <input type="date" class="form-control" name="date-of-birth" ngModel aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                      </div>
                      <div class="md-form input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-sm">Email:</span>
                        </div>
                        <input type="email" class="form-control" name="email" ngModel aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                      </div>
                      <div class="md-form input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-sm">Password:</span>
                        </div>
                        <input type="password" class="form-control" name="password" ngModel aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                      </div>
                      <div class="md-form input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-sm">Confirm Pass:</span>
                        </div>
                        <input type="password" class="form-control" name="confirm_password" ngModel aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                      </div>
                        <!-- <div class="form-outline input-group md-form">
                            <input type="text" class="input--style-3" ngModel name="username" placeholder="Username" mdbInput/>
                        </div> -->
                        <!-- <div class="form-outline input-group mdb-form">
                            <input type="date" class="input--style-3" name="birthday" mdbInput>
                            
                        </div> -->
                    <!-- <div class="form-outline input-group mdb-form">
                        <input type="email" class="input--style-3" ngModel name="email" placeholder="Email" mdbInput/>
                    </div>
                    <div class="form-outline input-group mdb-form">
                        <input type="password" class="input--style-3" ngModel name="password" placeholder="Password" mdbInput/>
                    </div>
                    <div class="form-outline input-group mdb-form">
                        <input type="password" class="input--style-3" ngModel name="password"
                            placeholder="Confirm Password" mdbInput/>
                    </div> -->
                    <p class="terms">
                        <input type="checkbox" id="agreement" style="width: fit-content;margin-left: 5%;"
                            name="agreement" value="accepted"> I accept the <span class="link">Terms of Use
                        </span>&<span class="link"> Privacy Policy</span>
                    </p>
                    <br>
                    <button type="submit" name="submit" class="btn btn-secondary">Register</button>
                    <p class="switch">Already have an account? <a style="color: blue;cursor: pointer;" href="login">Sign
                            in!</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- <div style="width: 70%;" class="bg-danger">
    <div class="bg-warning right-back container-left" style="width: 50%;float: left;">

        <div class="">
            <p style="font-size: x-large;">𝓦𝓮𝓵𝓬𝓸𝓶𝓮 𝓽𝓸</p>
            <p style="font-size: 35px;">𝓲𝓡𝓲𝓽𝓮</p>
            <small style="font-size: large;">𝓦𝓱𝓮𝓻𝓮 𝓼𝓱𝓸𝓻𝓽 𝓼𝓽𝓸𝓻𝓲𝓮𝓼 <br> 𝔂𝓸𝓾 𝓵𝓸𝓿𝓮,
                𝓵𝓲𝓿𝓮𝓭.</small>
        </div>
    </div>
    <div class="bg-primary" style="width: 50%;float: right;">
        Hiiii
    </div>
</div> -->


<!-- <div class="text-center">
      <p>or sign up with:</p>
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-facebook-f"></i>
      </button>
  
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-google"></i>
      </button>
  
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-twitter"></i>
      </button>
  
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-github"></i>
      </button>
    </div> -->



<!-- <div class="form-check d-flex justify-content-center mb-4">
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="form2Example3"
        checked
      />
      
    </div> -->