<!-- <div class="container card card-3 mt-3 alert-primary">
    <div style="padding: 4%;">
        <div class="container-left right-back">
            <div class="content rounded-circle" style="padding: 10%;margin-top: 25%;">
                <p>𝓦𝓮𝓵𝓬𝓸𝓶𝓮 𝓽𝓸</p>
                <p>𝓲𝓡𝓲𝓽𝓮</p>
                <small>𝓦𝓱𝓮𝓻𝓮 𝓼𝓱𝓸𝓻𝓽 𝓼𝓽𝓸𝓻𝓲𝓮𝓼 <br> 𝔂𝓸𝓾 𝓵𝓸𝓿𝓮𝓭
                    𝓵𝓲𝓿𝓮𝓭.</small>
            </div>
        </div>
        <div class="right">
            <form class="form pt-3 pb-5" #registerForm="ngForm" (ngSubmit)=register(registerForm.value)
                autocomplete="off">
                <div class="icon-header">
                    <span>-----</span><i class="fa fa-user"></i><span>-----</span>
                </div>
                <p style="text-align: center;">Sign Up</p>
                <div class="row mb-4">


                    <div class="md-form input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon"  id="inputGroupMaterial-sizing-sm">Username:</span>
                        </div>
                        <input type="text" class="form-control" name="username" ngModel aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                      </div>
                      <div class="md-form input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-sm">Birthday:</span>
                        </div>
                        <input type="date" class="form-control" name="date-of-birth" ngModel aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                      </div>
                      <div class="md-form input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-sm">Email:</span>
                        </div>
                        <input type="email" class="form-control" name="email" ngModel aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                      </div>
                      <div class="md-form input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-sm">Password:</span>
                        </div>
                        <input type="password" class="form-control" name="password" ngModel aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                      </div>
                      <div class="md-form input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text md-addon" id="inputGroupMaterial-sizing-sm">Confirm Pass:</span>
                        </div>
                        <input type="password" class="form-control" name="confirm_password" ngModel aria-label="Sizing example input" aria-describedby="inputGroupMaterial-sizing-sm">
                      </div> -->

<!-- <p class="terms">
                        <input type="checkbox" id="agreement" style="width: fit-content;margin-left: 5%;"
                            name="agreement" value="accepted"> I accept the <span class="link">Terms of Use
                        </span>&<span class="link"> Privacy Policy</span>
                    </p>
                    <br>
                    <button type="submit" name="submit" class="btn btn-secondary">Register</button>
                    <p class="switch">Already have an account? <a style="color: blue;cursor: pointer;" href="login">Sign
                            in!</a></p>
                </div>
            </form>
        </div>
    </div>
</div> -->

<!-- <div style="width: 70%;" class="bg-danger">
    <div class="bg-warning right-back container-left" style="width: 50%;float: left;">

        <div class="">
            <p style="font-size: x-large;">𝓦𝓮𝓵𝓬𝓸𝓶𝓮 𝓽𝓸</p>
            <p style="font-size: 35px;">𝓲𝓡𝓲𝓽𝓮</p>
            <small style="font-size: large;">𝓦𝓱𝓮𝓻𝓮 𝓼𝓱𝓸𝓻𝓽 𝓼𝓽𝓸𝓻𝓲𝓮𝓼 <br> 𝔂𝓸𝓾 𝓵𝓸𝓿𝓮,
                𝓵𝓲𝓿𝓮𝓭.</small>
        </div>
    </div>
    <div class="bg-primary" style="width: 50%;float: right;">
        Hiiii
    </div>
</div> -->


<!-- <div class="text-center">
      <p>or sign up with:</p>
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-facebook-f"></i>
      </button>
  
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-google"></i>
      </button>
  
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-twitter"></i>
      </button>
  
      <button type="button" class="btn btn-primary btn-floating mx-1">
        <i class="fa fa-github"></i>
      </button>
    </div> -->


<section class="w3l-forms-23" style="background-image: url('../../../../assets/images/registerBack.jpg');">
  <div class="forms23-block-hny">
    <div class="wrapper">

      <h1>Register to 𝓲𝓡𝓲𝓽𝓮</h1>

      <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
      </div>

      <div class="d-grid forms23-grids">
        <div class="form23">
          <div class="main-bg" style="background-image: url('../../../../assets/images/registerFront.jpg');">
            <h6 class="sec-one">𝓦𝓱𝓮𝓻𝓮 𝓼𝓱𝓸𝓻𝓽 𝓼𝓽𝓸𝓻𝓲𝓮𝓼 <br> 𝔂𝓸𝓾 𝓵𝓸𝓿𝓮,
                𝓵𝓲𝓿𝓮𝓭.</h6>
            <div class="speci-login first-look">
              <i class="fa fa-user mt-1" style="font-size: xx-large;"></i>
            </div>
          </div>
          <div class="bottom-content">
            <form #registerForm="ngForm" (ngSubmit)=register(registerForm.value) autocomplete="off">
              <div class="form-row">
                <div class="col">
                  <!-- First name -->
                  <div class="md-form">
                    <input type="text" id="materialRegisterFormFirstName" ngModel name="username" class="form-control" mdbInput>
                    <label for="materialRegisterFormFirstName">Username</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Birthdate-->
                  <div class="md-form">
                    <input type="date" id="materialRegisterFormLastName" ngModel name="dateOfBirth" class="form-control" mdbInput>
                    <label for="materialRegisterFormLastName">Date of Birth: </label>
                  </div>
                </div>
              </div>

              <!-- E-mail -->
              <div class="md-form mt-0">
                <input type="email" id="materialRegisterFormEmail" name="email" ngModel class="form-control" mdbInput>
                <label for="materialRegisterFormEmail">E-mail</label>
              </div>

              <!-- Password -->
              <div class="md-form">
                <input type="password" id="materialRegisterFormPassword" ngModel name="password" class="form-control"
                  aria-describedby="materialRegisterFormPasswordHelpBlock" mdbInput>
                <label for="materialRegisterFormPassword">Password</label>
                <!-- <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                  At least 8 characters and 1 digit
                </small> -->
              </div>
              <div class="md-form">
                <input type="password" id="materialRegisterFormPhone" ngModel name="password_confirmation" class="form-control"
                  aria-describedby="materialRegisterFormPhoneHelpBlock" mdbInput>
                <label for="materialRegisterFormPhone">Confirm Password</label>
                <!-- <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                  Optional - for two-step authentication
                </small> -->
              </div>
              <div class="row">
        <div class="mx-auto d-flex justify-content-start">
          <mdb-checkbox [default]="true">I accept the <a class="link">Terms of Use
                        </a>&<a class="link"> Privacy Policy</a></mdb-checkbox>
        </div>
      </div>
              <button mdbBtn type="submit" gradient="aqua" mdbWavesEffect><i class="fa fa-user-plus"></i>
                Register</button>
              <p >Already have an account? <a href="login">Login</a>. </p>
              <p class="terms">
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>