<app-header></app-header>
<div class="card mt-3 text-center cloudy-knoxville-gradient">
    <div class="card-body">
        MY STORIES
    </div>
</div>

<div style="margin:5% 45%;height: 50vh;" [hidden]="fetched">
    <div class="spinner-border text-secondary text-center" style="font-size: xx-large;height: 200px;width: 200px;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="grid-container" [hidden]="!fetched">
    <div *ngFor="let story of stories">
        <app-your-story [story]="story"></app-your-story>
    </div>
</div>



<app-footer></app-footer>