<app-header></app-header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<div class="card mt-3 text-center cloudy-knoxville-gradient">
    <div class="card-body">
        MY STORIES
    </div>
</div>

 <div class="row mb-5">
    <div class="column mt-4" *ngFor=" let image of listBooks">
        <mdb-card class="your-list" style="background-image: url('{{image.image}}');">
            <mdb-card-body class="text-center">
                <p style="font-weight: bold;font-size: x-large;" class="card-title cloudy-knoxville-gradient rounded">{{image.title}}</p>
                <button style="margin-top: 100%;color: black; font-size: large;" mdbBtn gradient="aqua"
                    class="waves-light rounded-circle" mdbWavesEffect><i class="fa fa-eye"></i></button>
                <button style="margin-top: 100%;color: black;font-size: large;" mdbBtn gradient="peach"
                    class="waves-light rounded-circle" mdbWavesEffect><i class="fa fa-remove"></i></button>
            </mdb-card-body>
        </mdb-card>
    </div>
</div> 

<!-- <div class="row mb-5">
        <div class="row">
                <div class="column">
                    <img src="../../../../assets/images/Protector.jpg" alt="Snow" style="width:60%">
                    <div> 
                        <button style="margin-left:6%" mdbBtn type="button" class="btn btn-info">Preview</button>
                        <button mdbBtn type="button" class="btn btn-danger">Delete</button>
                    </div>  
                </div>
            
                <div class="column">
                    <img src="../../../../assets/images/stranger.jpg" alt="Forest" style="width:60%">
                    <div>
                        <button style="margin-left:6%" mdbBtn type="button" class="btn btn-info">Preview</button>
                        <button mdbBtn type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            
                <div class="column">
                    <img src="../../../../assets/images/Protector.jpg" alt="Mountains" style="width:60%">
                    <div>
                        <button style="margin-left:6%" mdbBtn type="button" class="btn btn-info">Preview</button>
                        <button mdbBtn type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            
                <div class="column">
                    <img src="../../../../assets/images/surprise.jpg" alt="Mountains" style="width:60%">
                    <div>
                        <button style="margin-left:6%" mdbBtn type="button" class="btn btn-info">Preview</button>
                        <button mdbBtn type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            
                <div class="column">
                    <img src="../../../../assets/images/Protector.jpg" alt="Mountains" style="width:60%">
                    <div>
                        <button style="margin-left:6%" mdbBtn type="button" class="btn btn-info">Preview</button>
                        <button mdbBtn type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            
                <div class="column">
                    <img src="../../../../assets/images/Protector.jpg" alt="Mountains" style="width:60%">
                    <div>
                        <button style="margin-left:6%" mdbBtn type="button" class="btn btn-info">Preview</button>
                        <button mdbBtn type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
</div>
</div> -->

<app-footer></app-footer>