<div SideClass="navbar navbar-dark" class="sidenav rounded bg-info shadow-lg">
    <mdb-navbar-brand><a class="navbar-brand ml-3" href="/admin/dashboard"><img class="navbar-brand rounded-circle"
                src="../assets/images/logo.png" width="90%" height="90%" alt=""></a></mdb-navbar-brand>
    <button class="btn btn-secondary" style="width:90%"> Dashboard</button>
    <button class="btn btn-secondary mb-5" style="width:90%" [routerLink]="['/admin/stories']"
        routerLinkActive="router-link-active">Stories</button>

</div>
<div class="main">
    <div *ngFor="let story of stories">
        <app-story [story]="story"></app-story>
    </div>
</div>