<div class="main">
    <div class="gallery">
        <a target="_blank" href="https://cf.bstatic.com/images/hotel/max1024x768/241/241074099.jpg">
            <img src="https://cf.bstatic.com/images/hotel/max1024x768/241/241074099.jpg" alt="Cinque Terre" width="600"
                height="400">
        </a>
        <div class="text-center">
            <div class="desc mt-3">{{story.title}}</div>
            <button mdbBtn type="button" color="purple" (click)="review()" class="btn review mt-2"
                mdbWavesEffect><i class="fa fa-eye" ></i> REVIEW STORY</button>
        </div>
    </div>
</div>
