div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 250px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    text-align: center;
    font-size: large;
  }
  .review{
      margin-bottom: 2%;
  }
  .body{
      font-size: large;
  }