<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple lighten-1" style="box-shadow: none;" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="/home"><img class="navbar-brand" src="../assets/images/logo.png"
                width="60" height="60" alt=""></a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <button mdbBtn class="btn btn-secondary" [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" >
                    <i class="fa fa-tasks"></i>&nbsp; Dashboard</button>
            </li>
            <li class="nav-item">
                <button mdbBtn class="btn btn-secondary" [routerLink]="['/admin/stories']"
                routerLinkActive="router-link-active"><i class="fa fa-book"></i>&nbsp; Stories</button>
            </li>
            <li class="nav-item">
                <button mdbBtn class="btn btn-secondary" [routerLink]="['/admin/published']"
                    routerLinkActive="router-link-active"><i class="fa fa-check"></i>&nbsp; Published</button>
            </li>
            <li class="nav-item">
                <button mdbBtn class="btn btn-secondary" [routerLink]="['/admin/declined']"
                    routerLinkActive="router-link-active"><i class="fa fa-times"></i>&nbsp; Declined</button>
            </li>
          </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item avatar dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" style="width: 80px;"
                    class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                    <img style="width: 90%;" src="../assets/images/admin.jpg" alt=""
                        class="img-fluid rounded-circle z-depth-0"></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log out</a>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>
