/* .navbar{
    background-color:black;
    padding-bottom: 1.5%;
    padding-top:1.5%;
} */

/* .user{
    color: white;
} */
.nav-item a.nav-link{
    font-weight: 400;
}
.nav-item a.nav-link:hover{
    transition: none;
    border-bottom: 3px solid rgb(252, 252, 252);
    
}
.view img{
    height: 100vh;
}
.nav-item a{
    padding: 13px 8px 6px 8px; 
}
input.form-control{
    font-size: 17px;
}
.buttons button{
    font-size: 13px;
}
.stories{
    display: flex;
    flex-direction: column;
    
}
.stories img{
    width: 100%;
    max-width: 20%;
    height: 300px;
    /* min-height: 20%; */
    margin: 3vw 0.5vw;
    box-shadow: 0px 1px 20px 1px grey;
}
.stories img:hover{
    box-shadow: 0px 1px 30px 7px rgb(179, 177, 177);
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.new_release_h1{
    font-size: 4vw;
    margin: 0 0 0 5vw;
}
.new_release h1{
    font-size: 2.5vw;
}
.new_release p{
    text-align: justify;
}
.new_release_content{
    display: flex;
    margin: 0 1.5vw;
}
.d-flex button{
    margin: 0vw 0.6vw 0vw 0vw;
}
/* trending and most viewed*/
.card-stories{
  box-shadow: 0px 1px 20px 1px grey;
  margin: 2vw 1.5vw;
  border-radius: 3px;
  padding: 2vw 2vw;
}
.card-stories h3{
  letter-spacing: 1px;
  
}
.card-stories img{
  width: 100%;
  max-width: 25%;
}
/* .trending img{
  width: 100%;
  max-width: 30%;
} */
.card-story{
  display: flex;
  padding: 1.5vw 1vw;
  flex-direction: column;
  margin: 2vw 0vw;
}
.card-stories-col{
  padding: 1vw 1vw;
}
.card-stories-col p{
  text-align: justify;

}
.card-stories-col p.rating{
  border-radius: 40px;
  padding: 0.2vw 1vw;
  color: white;
}



/* @import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Cairo:300,600,700,900"); */

body {
  font-family: "Cairo", sans-serif;
  font-weight: 300;
  letter-spacing: 0.025rem;
  color: #494949;
}

h1 {
  font-weight: 600;
}

h2,
h3 {
  font-weight: 700;
}

h4,
h5,
h6 {
  font-weight: 600;
}

p {
  color: #6c757d;
}

/* img {
  max-width: 100%;
  width: 100%;

} */

.about-section {
  width: 100%;
  height: 100vh;
}

 .left-header {
  top: 0;
  left: 0;
  color: #fff;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1494809610410-160faaed4de0?https://images.unsplash.com/photo-1529007196863-d07650a3f0ea?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTB8fGJvb2tzaGVsZnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTAzfHxib29rc3xlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  padding: 4rem;
} 

.left-header::before {
  background-color: #fff;
  position: absolute;
  content: "";
  bottom: 50px;
  left: 30px;
  margin: 0 1rem;
  width: 80%;
  height: 2px;
}

.left-header::after {
  background-color: #fff;
  position: absolute;
  content: "";
  bottom: 50px;
  left: 30px;
  margin: 0 1rem;
  height: 80%;
  width: 2px;
}

.left-header h2 {
  margin-left: 4rem;
}

.v-center-box {
  min-height: 100%;
}

.sub-heading {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  word-spacing: 0.05rem;
}

.about-data {
  position: relative;
}

.about-data::before {
  position: absolute;
  content: "\003c/ ABOUT \003e";
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  font-size: 0.8rem;
  font-weight: 900;
  color: #dee2e6;
  background-color: #fff;
  width: 8rem;
}

.about-data i {
  color: #f12d2d;
}

.about-data p {
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
  word-spacing: 0.2rem;
}
.about-data .data-number {
  color: #494949;
  font-size: 1.2rem;
}

.icon-18 {
  font-size: 1.8rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .left-header::before {
    width: 70%;
  }
}

@media (min-height: 590px) {
  .left-header::after {
    height: 85%;
  }
}
@media screen and (max-width: 600px) {
  .stories{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      
  }
  .images{
      display: flex;
      flex-direction: column;
      align-items: center;

  }
  .stories img{
      width: 100%;
      max-width: 70%;
      height: 200px;
      /* min-height: 20%; */
      /* margin: 3vw 0.5vw; */
  }
  .new_release{
      flex-direction: column;
      align-items: center;
  }
  .new_release div img{
      width: 100%;
      max-width: 100%;
  }
  .new_release h1{
      text-align: center;
      font-size: 5.5vw;
  }
  .new_release p{
      text-align: justify;
      font-size: 3vw;
  }
  .new_release_h1 h1{
      font-size: 5.5vw;
  }
  .new_release_content{
      display: flex;
      flex-direction: column;
  }
  .d-flex button{
      display: flex;
      justify-content: space-evenly;

  }

  .card-stories{
    display:flex;
    flex-direction: column;
  }

}

/* avatar */
.grid-container{
  justify-content: space-around; 
}
