<!-- <footer class="bg-light text-center">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-dark" href="https://irite.com/">iRite.com</a>
      <div>
        <p>Visit us on:</p>
        <a href="https://www.facebook.com/irite" class="btn btn-light rounded-circle mx-1">
          <i class="fa fa-facebook-f"></i>
        </a>
  
        <a href="https://www.google.com/irite-stories" class="btn btn-light rounded-circle mx-1">
          <i class="fa fa-google"></i>
        </a>
  
        <a href="https://www.twitter.com/irite-stories" class="btn btn-light rounded-circle mx-1">
          <i class="fa fa-twitter"></i>
        </a>

        <a href="https://www.linkedin.com/irite-stories" class="btn btn-light rounded-circle mx-1">
            <i class="fa fa-linkedin"></i>
          </a>
  
      </div>
    </div>
  </footer> -->
<!-- <footer>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple" [containerInside]="false">
    <div class="container">
      <div class="row p-3" style="background-color: rgba(0, 0, 0, 0.2);width: 100%;">
        <div class="col">
          © 2021 Copyright:
          <a class="text-dark" href="https://irite.com/">iRite.com</a>
        </div>
        <div class="col">
          <p>Visit us on:</p>
          <a href="https://www.facebook.com/irite" class="btn-light mx-1">
            <i class="fa fa-facebook-f"></i>
          </a>
    
          <a href="https://www.google.com/irite-stories" class="btn-light mx-1">
            <i class="fa fa-google"></i>
          </a>
    
          <a href="https://www.twitter.com/irite-stories" class="btn-light mx-1">
            <i class="fa fa-twitter"></i>
          </a>
  
          <a href="https://www.linkedin.com/irite-stories" class="btn-light mx-1">
              <i class="fa fa-linkedin"></i>
            </a>
        </div>
      </div>
    </div>
  </mdb-navbar>
</footer> -->

