<div aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header purple lighten-1" style="color: white">
                <a (click)="back()" class="btn btn-primary" style="font-size:small">Back</a>
                <h6 class="modal-title w-100 font-weight-bold text-center" id="myModalLabel">
                    {{story.title}}
                </h6>

            </div>
            <div class="modal-body body" style="font-size:large">
                Story:<br>

                <div class="ml-5" id="story">
                    <!-- {{story.story_flow}} -->
                </div>
            </div>

        </div>
    </div>
</div>