<div class="card shadow-lg">
  <img class="card-img-top" height="350px" src="../../../../assets/images/floyd.jpg" alt="Card image cap">
  <div class="card-body text-center">
    <p class="card-title" style="font-size:medium">Title: {{cover.title}}</p>
    <hr>
    <p class="card-title" style="font-size:small">Description: {{cover.blurb}}</p>
    <!-- <a mdbBtn gradient="purple" style="font-size: x-small;" class="waves-light" mdbWavesEffect>View <i
        class="fa fa-angle-double-right"></i></a> -->
    <a mdbBtn gradient="purple" style="font-size: x-small;" class="waves-light" mdbWavesEffect
    (click)="addToLibrary()"> <i class="fa fa-plus" [hidden]="!icon"></i>
    <span class="spinner-border spinner-border-sm text-secondary" role="status"
        aria-hidden="true" [hidden]="icon"></span>
        {{button}}</a>
  </div>
</div>