<!-- <mdb-card class="your-list" style="background-image: url('../../../../assets/images/heart.jpg');">
    <mdb-card-body class="text-center">
        <p style="font-weight: bold;font-size: x-large;" class="card-title cloudy-knoxville-gradient rounded">This is Title</p>
        <button style="margin-top: 100%;color: black; font-size: large;" mdbBtn gradient="aqua" class="waves-light rounded-circle"
            mdbWavesEffect><i class="fa fa-eye"></i></button>
        <button style="margin-top: 100%;color: black;font-size: large;" mdbBtn gradient="peach" class="waves-light rounded-circle"
            mdbWavesEffect><i class="fa fa-remove"></i></button>
    </mdb-card-body>
</mdb-card> -->

<div class="card shadow-lg">
    <img class="card-img-top" height="350px" src="../../../../assets/images/floyd.jpg" alt="Card image cap">
    <div class="card-body text-center">
        <p class="card-title">{{story.title}}</p>
        <hr>
        <p class="card-title">{{story.blurb}}</p>
        <!-- <a mdbBtn gradient="purple" style="font-size: x-small;" class="waves-light" mdbWavesEffect>View <i
              class="fa fa-angle-double-right"></i></a> -->
        <a mdbBtn style="font-size: x-small;" class="waves-light success-color" mdbWavesEffect (click)="basicModal.show()">
            <i class="fa fa-eye">
                View</i></a>
        <a mdbBtn style="font-size: x-small;" class="waves-light danger-color" mdbWavesEffect> <i class="fa fa-remove">
                Remove</i></a>
    </div>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade right rounded" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgba(156, 39, 176, 0.7) ">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" style="font-size:large;float:right" id="myModalLabel">{{story.title}}</h4>
            </div>
            <div class="modal-body body" style="font-size:large;color: black;background: rgba(156, 39, 176, 0.1)">
                {{story.story_flow}}
            </div>
            <!-- <div class="modal-footer justify-content-center">
            <button type="button" mdbBtn color="secondary" class="waves-light  rounded" mdbWavesEffect (click)="approve()"><i
                    class="fa fa-thumbs-up" [hidden]="!icon"></i> <span class="spinner-border spinner-border-sm text-info" role="status" aria-hidden="true"
                    [hidden]="icon"></span> {{approveBtn}}</button>
            <button type="button" mdbBtn color="danger" class="relative waves-light rounded" mdbWavesEffect (click)="decline()"><i
                    class="fa fa-thumbs-down"></i> {{declineBtn}}</button>
        </div> -->
        </div>
    </div>
</div>
