<div class="card shadow-lg">
    <img class="card-img-top" height="350px" src="../../../../assets/images/floyd.jpg" alt="Card image cap">
    <div class="card-body text-center">
        <p class="card-title">{{story.title}}</p>
        <hr>
        <p class="card-title">{{story.blurb}}</p>
        <a mdbBtn style="font-size: x-small;" class="waves-light success-color" mdbWavesEffect (click)="basicModal.show()">
            <i class="fa fa-eye">
                View</i></a>
        <a mdbBtn style="font-size: x-small;" class="waves-light danger-color" mdbWavesEffect> <i class="fa fa-remove">
                Remove</i></a>
    </div>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade right rounded" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:rgba(156, 39, 176, 0.7) ">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" style="font-size:large;float:right" id="myModalLabel">{{story.title}}</h4>
            </div>
            <div class="modal-body body" style="font-size:large;color: black;background: white">
                {{story.story_flow}}
            </div>
            <!-- <div class="modal-footer justify-content-center">
            <button type="button" mdbBtn color="secondary" class="waves-light  rounded" mdbWavesEffect (click)="approve()"><i
                    class="fa fa-thumbs-up" [hidden]="!icon"></i> <span class="spinner-border spinner-border-sm text-info" role="status" aria-hidden="true"
                    [hidden]="icon"></span> {{approveBtn}}</button>
            <button type="button" mdbBtn color="danger" class="relative waves-light rounded" mdbWavesEffect (click)="decline()"><i
                    class="fa fa-thumbs-down"></i> {{declineBtn}}</button>
        </div> -->
        </div>
    </div>
</div>