<div class="card shadow-lg">
    <img class="card-img-top" height="350px" src="../../../../assets/images/book1.png" alt="Card image cap">
    <div class="card-body text-center">
        <p class="card-title">{{story.title}}</p>
        <hr>
        <p class="card-title">{{story.blurb}}</p>
        <a mdbBtn style="font-size: x-small;" class="waves-light success-color" mdbWavesEffect (click)="view()">
            <i class="fa fa-eye">
                View</i></a>
        <a mdbBtn style="font-size: x-small;" class="waves-light danger-color" mdbWavesEffect (click)="remove()"> <i
                class="fa fa-remove">
                Remove</i></a>
    </div>
</div>
