<app-header></app-header>
  <mdb-card>
    <h6 class="card-title category text-center mt-2">𝒞𝐻𝒪𝒪𝒮𝐸 𝒮𝒯𝒪𝑅𝐼𝐸𝒮 𝒯𝐻𝒜𝒯 𝒮𝒰𝐼𝒯 𝒴𝒪𝒰𝑅 𝒯𝒜𝒮𝒯𝐸</h6>
    <mdb-card-body class="text-center card-body">
      <button mdbBtn gradient="purple" class="waves-light" mdbWavesEffect (click)="romance()">ROMANCE</button>
      <a mdbBtn gradient="purple" class="waves-light" mdbWavesEffect (click)="fiction()">FICTION</a>
      <a mdbBtn gradient="purple" class="waves-light" mdbWavesEffect (click)="horror()">HORROR</a>
      <a mdbBtn gradient="purple" class="waves-light" mdbWavesEffect (click)="thriller()">THRILLER</a>
      <a mdbBtn gradient="purple" class="waves-light" mdbWavesEffect (click)="scifi()">SCIENCE FICTION</a>
    </mdb-card-body>
  </mdb-card>
<!-- <div style="height: 100vh;">

</div> -->
<div style="margin:5% 45%;height: 50vh;" [hidden]="fetched" >
  <div class="spinner-border text-secondary text-center" style="font-size: xx-large;height: 200px;width: 200px;"role="status">
      <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="row mb-5">
  <div class="column mt-5" *ngFor=" let story of listBooks">
    <app-cover-book [cover]="story"></app-cover-book>
  </div>
</div>

<!-- <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1> 
      <p>Architect & Engineer</p> 
      <p>We love that guy</p>
    </div>
  </div>
</div> -->



<app-footer></app-footer>
