<app-admin-header></app-admin-header>

<h4 class="mt-3 ml-5 font-weight-bold">Declined Stories</h4>

<table mdbTable>
    <thead class="black white-text">
        <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
    </thead>
    <tbody>
        <tr mdbTableCol *ngFor="let list of story">
            <td>{{list.title}}</td>
            <td>{{list.genre}}</td>
            <td>{{list.blurb}}</td>
            <td>{{list.created_at}}</td>
        </tr>
    </tbody>
</table>

<div style="margin:3% 45%;"  [hidden]="fetched" >
    <div class="spinner-border text-secondary text-center" style="font-size: xx-large;height: 200px;width: 200px;"role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>